/**
 * bbPress specific CSS
 *
 * @package bbPress
 * @subpackage Theme
 */
/* =bbPress Style
-------------------------------------------------------------- */
@font-face {
  font-family: 'outagecut';
  src: url("fonts/outage_cut-webfont.eot");
  src: url("fonts/outage_cut-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/outage_cut-webfont.woff") format("woff"), url("fonts/outage_cut-webfont.ttf") format("truetype"), url("fonts/outage_cut-webfont.svg#outagecut") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 37, ../bbpress/bbpress.scss */
#bbp_stats_widget-2 {
  color: #f9f9f9;
}
/* line 40, ../bbpress/bbpress.scss */
#bbp_stats_widget-2 dt {
  margin: 10px 0 5px;
}

/* line 46, ../bbpress/bbpress.scss */
.widget .myCRED-balance {
  width: 80px;
  margin-bottom: 24px !important;
  text-align: left !important;
  font-size: larger !important;
  font-family: "outagecut" sans-serif;
  color: #f9f9f9;
}

/* line 55, ../bbpress/bbpress.scss */
.widget .myCRED-rank {
  font-family: sans-serif;
}

/* line 61, ../bbpress/bbpress.scss */
.quicktags-toolbar input:hover {
  border-color: #aaa !important;
  background: #ddd !important;
  border: 1px !important;
  color: #1a1a1a !important;
}

/* line 68, ../bbpress/bbpress.scss */
.quicktags-toolbar, .wp_themeSkin tr.mceFirst td.mceToolbar {
  background: #1a1a1a !important;
  background-image: none !important;
}

/* line 73, ../bbpress/bbpress.scss */
.wp-editor-container {
  border-width: 2px !important;
  border-color: #363636 !important;
}

/* line 78, ../bbpress/bbpress.scss */
.quicktags-toolbar {
  border-bottom-width: 0 !important;
}

/* line 83, ../bbpress/bbpress.scss */
#bbpress-forums hr {
  margin: 0 0 24px 0;
}

/* line 87, ../bbpress/bbpress.scss */
#bbpress-forums {
  background: transparent;
  clear: both;
  margin-bottom: 20px;
  overflow: hidden;
  font-size: 12px;
}

/* line 96, ../bbpress/bbpress.scss */
#bbpress-forums div.even,
#bbpress-forums ul.even {
  background-color: #181717;
}

/* line 101, ../bbpress/bbpress.scss */
#bbpress-forums div.odd,
#bbpress-forums ul.odd {
  background-color: #202020;
}

/* line 105, ../bbpress/bbpress.scss */
body.reply-edit .reply {
  float: none;
}

/* line 109, ../bbpress/bbpress.scss */
#bbpress-forums div.reply {
  height: auto;
  width: 100%;
}

/* line 116, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-forum-header,
#bbpress-forums div.bbp-topic-header,
#bbpress-forums div.bbp-reply-header {
  background-color: #1a1a1a;
}

/* line 121, ../bbpress/bbpress.scss */
#bbpress-forums .status-trash.even,
#bbpress-forums .status-spam.even {
  background-color: #fee;
}

/* line 125, ../bbpress/bbpress.scss */
#bbpress-forums .status-trash.odd,
#bbpress-forums .status-spam.odd {
  background-color: #fdd;
}

/* line 130, ../bbpress/bbpress.scss */
#bbpress-forums .status-closed,
#bbpress-forums .status-closed a {
  color: #ccc;
}

/* line 134, ../bbpress/bbpress.scss */
#bbpress-forums ul {
  background: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 141, ../bbpress/bbpress.scss */
#bbpress-forums ul.bbp-threaded-replies {
  margin-left: 50px;
}

/* line 145, ../bbpress/bbpress.scss */
#bbpress-forums li {
  background: none;
  margin: 0;
  list-style: none;
}

/* line 155, ../bbpress/bbpress.scss */
#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results {
  font-size: 12px;
  font-family: arial, helvetica, sans-serif;
  overflow: hidden;
  border: 4px solid #00f987;
  margin-bottom: 20px;
  clear: both;
}

/* line 165, ../bbpress/bbpress.scss */
#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-body,
#bbpress-forums li.bbp-footer {
  clear: both;
}

/* line 170, ../bbpress/bbpress.scss */
#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
  background: #1a1a1a;
  border-top: 0px solid #eee;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

/* line 178, ../bbpress/bbpress.scss */
#bbpress-forums li.bbp-header {
  background: #1a1a1a;
}

/* line 182, ../bbpress/bbpress.scss */
#bbpress-forums li.bbp-header ul {
  overflow: hidden;
}

/* line 186, ../bbpress/bbpress.scss */
#bbpress-forums .bbp-forums-list {
  margin: 0 0 0 5px;
  padding-left: 15px;
  border-left: 1px solid #ddd;
}

/* line 192, ../bbpress/bbpress.scss */
#bbpress-forums .bbp-forums-list li {
  display: inline;
  font-size: 11px;
}

/* line 197, ../bbpress/bbpress.scss */
#bbpress-forums li.bbp-footer p {
  margin: 0;
  line-height: 1em;
}

/* line 203, ../bbpress/bbpress.scss */
li.bbp-forum-info .bbp-forum-title {
  font-size: 18px;
  font-family: 'outagecut', sans-serif;
  text-decoration: none;
}

/* line 211, ../bbpress/bbpress.scss */
li.bbp-forum-info,
li.bbp-topic-title {
  float: left;
  text-align: left;
  width: 55%;
}

/* line 219, ../bbpress/bbpress.scss */
li.bbp-forum-topic-count,
li.bbp-topic-voice-count,
li.bbp-forum-reply-count,
li.bbp-topic-reply-count {
  float: left;
  text-align: center;
  width: 10%;
}

/* line 226, ../bbpress/bbpress.scss */
li.bbp-forum-freshness,
li.bbp-topic-freshness {
  text-align: center;
  float: left;
  width: 22%;
}

/* line 233, ../bbpress/bbpress.scss */
#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
  border-top: 0px solid #eee;
  overflow: hidden;
  padding: 8px 10px 8px 18px;
}

/* line 242, ../bbpress/bbpress.scss */
li.bbp-header div.bbp-topic-content span#subscription-toggle,
li.bbp-header div.bbp-topic-content span#favorite-toggle,
li.bbp-header div.bbp-reply-content span#subscription-toggle,
li.bbp-header div.bbp-reply-content span#favorite-toggle {
  float: right;
}

/* line 248, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-forum-title h3,
#bbpress-forums div.bbp-topic-title h3,
#bbpress-forums div.bbp-reply-title h3 {
  background: none;
  border: none;
  font-size: 16px;
  line-height: 1em;
  margin: 8px 0;
  padding: 0;
  text-transform: none;
}

/* line 260, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-forum-author,
#bbpress-forums div.bbp-topic-author,
#bbpress-forums div.bbp-reply-author {
  float: left;
  text-align: center;
  width: 115px;
}

/* line 268, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-forum-author img.avatar,
#bbpress-forums div.bbp-topic-author img.avatar,
#bbpress-forums div.bbp-reply-author img.avatar {
  border: none;
  max-width: 80px;
  padding: 0;
  margin: 12px auto 0 auto;
  float: none;
}

/* line 278, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-forum-author a.bbp-author-name,
#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name {
  margin: 0 12px;
  word-break: break-word;
  display: inline-block;
}

/* line 285, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name {
  clear: left;
  display: block;
}

/* line 292, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-forum-author .bbp-author-role,
#bbpress-forums div.bbp-topic-author .bbp-author-role,
#bbpress-forums div.bbp-reply-author .bbp-author-role {
  font-size: 11px;
  font-style: italic;
}

/* line 304, ../bbpress/bbpress.scss */
#bbpress-forums li.bbp-header .bbp-search-author,
#bbpress-forums li.bbp-footer .bbp-search-author,
#bbpress-forums li.bbp-header .bbp-forum-author,
#bbpress-forums li.bbp-footer .bbp-forum-author,
#bbpress-forums li.bbp-header .bbp-topic-author,
#bbpress-forums li.bbp-footer .bbp-topic-author,
#bbpress-forums li.bbp-header .bbp-reply-author,
#bbpress-forums li.bbp-footer .bbp-reply-author {
  float: left;
  margin: 0;
  padding: 0;
  width: 120px;
}

/* line 318, ../bbpress/bbpress.scss */
#bbpress-forums li.bbp-header .bbp-search-content,
#bbpress-forums li.bbp-footer .bbp-search-content,
#bbpress-forums li.bbp-header .bbp-forum-content,
#bbpress-forums li.bbp-footer .bbp-forum-content,
#bbpress-forums li.bbp-header .bbp-topic-content,
#bbpress-forums li.bbp-footer .bbp-topic-content,
#bbpress-forums li.bbp-header .bbp-reply-content,
#bbpress-forums li.bbp-footer .bbp-reply-content {
  margin-left: 140px;
  padding: 0;
  text-align: left;
}

/* line 327, ../bbpress/bbpress.scss */
div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header,
li.bbp-body div.hentry {
  margin-bottom: 0;
  overflow: hidden;
  padding: 8px;
}

/* line 335, ../bbpress/bbpress.scss */
div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header {
  border-top: 1px solid #2e2e2e;
  clear: both;
}

/* line 340, ../bbpress/bbpress.scss */
span.bbp-author-ip {
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #aaa;
}

/* =Topic and reply content
-------------------------------------------------------------- */
/* line 352, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-forum-content,
#bbpress-forums div.bbp-topic-content,
#bbpress-forums div.bbp-reply-content {
  margin-left: 130px;
  padding: 12px 12px 12px 0;
  text-align: left;
}

/* Clearing hack */
/* line 361, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-forum-content:after,
#bbpress-forums div.bbp-topic-content:after,
#bbpress-forums div.bbp-reply-content:after {
  clear: both;
  content: ".";
  display: block;
  float: none;
  height: 0;
  font-size: 0;
  visibility: hidden;
}

/* line 372, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-topic-content a,
#bbpress-forums div.bbp-reply-content a {
  background: none;
  border: none;
  display: inline;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/* line 392, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-topic-content h1,
#bbpress-forums div.bbp-reply-content h1,
#bbpress-forums div.bbp-topic-content h2,
#bbpress-forums div.bbp-reply-content h2,
#bbpress-forums div.bbp-topic-content h3,
#bbpress-forums div.bbp-reply-content h3,
#bbpress-forums div.bbp-topic-content h4,
#bbpress-forums div.bbp-reply-content h4,
#bbpress-forums div.bbp-topic-content h5,
#bbpress-forums div.bbp-reply-content h5,
#bbpress-forums div.bbp-topic-content h6,
#bbpress-forums div.bbp-reply-content h6 {
  clear: none;
  line-height: 1em;
  margin: 24px 0;
  padding: 0;
}

/* line 400, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-topic-content img,
#bbpress-forums div.bbp-reply-content img {
  max-width: 100%;
}

/* line 407, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-topic-content ul,
#bbpress-forums div.bbp-reply-content ul,
#bbpress-forums div.bbp-topic-content ol,
#bbpress-forums div.bbp-reply-content ol {
  margin: 0 15px 15px;
  padding: 0;
}

/* line 413, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-topic-content ul li,
#bbpress-forums div.bbp-reply-content ul li {
  list-style-type: disc;
}

/* line 418, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-topic-content ol li,
#bbpress-forums div.bbp-reply-content ol li {
  list-style-type: decimal;
}

/* line 423, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-topic-content ol li li,
#bbpress-forums div.bbp-reply-content ol li li {
  list-style-type: lower-alpha;
}

/* line 428, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-topic-content ol li li li,
#bbpress-forums div.bbp-reply-content ol li li li {
  list-style-type: upper-roman;
}

/* line 435, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-topic-content code,
#bbpress-forums div.bbp-reply-content code,
#bbpress-forums div.bbp-topic-content pre,
#bbpress-forums div.bbp-reply-content pre {
  font-family: Inconsolata, Consolas, Monaco, Lucida Console, monospace;
  display: inline-block;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 0 5px;
  max-width: 95%;
  vertical-align: middle;
  margin-top: -3px;
}

/* line 447, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-topic-content pre,
#bbpress-forums div.bbp-reply-content pre {
  display: block;
  line-height: 18px;
  margin: 0 0 24px;
  padding: 5px 10px;
  white-space: pre;
  overflow: auto;
}

/* line 457, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-topic-content pre code,
#bbpress-forums div.bbp-reply-content pre code {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  overflow-wrap: normal;
  overflow: auto;
  max-width: 100%;
}

/* =Reply to
-------------------------------------------------------------- */
/* line 471, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-reply-to {
  margin-left: 130px;
  padding: 12px 12px 12px 0;
  text-align: right;
}

/* line 477, ../bbpress/bbpress.scss */
#bbpress-forums div#bbp-cancel-reply-to {
  text-align: right;
}

/* =Breadcrumb and Tags
-------------------------------------------------------------- */
/* line 484, ../bbpress/bbpress.scss */
div.bbp-breadcrumb {
  float: left;
}

/* line 489, ../bbpress/bbpress.scss */
div.bbp-breadcrumb,
div.bbp-topic-tags {
  font-size: 12px;
}

/* line 494, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-breadcrumb p,
#bbpress-forums div.bbp-topic-tags p {
  margin-bottom: 10px;
}

/* line 498, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-topic-tags {
  float: right;
}

/* line 502, ../bbpress/bbpress.scss */
#bbp-topic-hot-tags {
  clear: both;
}

/* =Search
-------------------------------------------------------------- */
/* line 509, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-search-form {
  clear: left;
}

/* line 513, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-search-form .hidden {
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
  background: none;
  left: -999em;
}

/* line 522, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-search-form #bbp_search {
  display: inline-block;
  width: auto;
}

/* line 527, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-search-form {
  float: right;
  margin-bottom: 10px;
}

/* =Admin Links
-------------------------------------------------------------- */
/* line 535, ../bbpress/bbpress.scss */
span.bbp-admin-links {
  float: right;
  color: #ddd;
}

/* line 539, ../bbpress/bbpress.scss */
span.bbp-admin-links a {
  color: #bbb;
  font-weight: normal;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 546, ../bbpress/bbpress.scss */
fieldset span.bbp-admin-links {
  float: left;
}

/* line 549, ../bbpress/bbpress.scss */
tr td span.bbp-admin-links a:hover {
  color: #ff4b33;
}

/* line 553, ../bbpress/bbpress.scss */
td.bbp-topic-admin-links,
td.bbp-topic-counts {
  width: 50%;
}

/* line 559, ../bbpress/bbpress.scss */
.bbp-forum-header a.bbp-forum-permalink,
.bbp-topic-header a.bbp-topic-permalink,
.bbp-reply-header a.bbp-reply-permalink {
  float: right;
  margin-left: 10px;
  color: #ccc;
}

/* =Toggles
-------------------------------------------------------------- */
/* line 568, ../bbpress/bbpress.scss */
.bbp-topic-action #favorite-toggle a {
  text-decoration: none;
  padding: 0 3px 1px;
  color: #7c7;
  border: 1px solid #aca;
  background-color: #dfd;
  font-weight: bold;
  font-size: 13px;
}

/* line 577, ../bbpress/bbpress.scss */
.bbp-topic-action #favorite-toggle a:hover {
  color: #5a5;
  border-color: #7c7;
  background-color: #beb;
}

/* line 582, ../bbpress/bbpress.scss */
.bbp-topic-action #favorite-toggle span.is-favorite a {
  color: #faa;
  border: 1px solid #faa;
  background-color: #fee;
}

/* line 587, ../bbpress/bbpress.scss */
.bbp-topic-action #favorite-toggle span.is-favorite a:hover {
  color: #c88;
  border-color: #c88;
  background-color: #fdd;
}

/* line 593, ../bbpress/bbpress.scss */
.bbp-topic-action #subscription-toggle a {
  text-decoration: none;
  padding: 0 3px 1px;
  color: #7c7;
  border: 1px solid #aca;
  background-color: #dfd;
  font-weight: bold;
  font-size: 13px;
}

/* line 602, ../bbpress/bbpress.scss */
.bbp-topic-action #subscription-toggle a:hover {
  color: #5a5;
  border-color: #7c7;
  background-color: #beb;
}

/* line 607, ../bbpress/bbpress.scss */
.bbp-topic-action #subscription-toggle span.is-subscribed a {
  color: #faa;
  border: 1px solid #faa;
  background-color: #fee;
}

/* line 612, ../bbpress/bbpress.scss */
.bbp-topic-action #subscription-toggle span.is-subscribed a:hover {
  color: #c88;
  border-color: #c88;
  background-color: #fdd;
}

/* line 619, ../bbpress/bbpress.scss */
#bbpress-forums .bbp-forum-info .bbp-forum-content,
#bbpress-forums p.bbp-topic-meta {
  font-size: 12px;
  margin: 5px 0 5px;
  padding: 0;
  word-wrap: break-word;
}

/* line 626, ../bbpress/bbpress.scss */
#bbpress-forums p.bbp-topic-meta span {
  white-space: nowrap;
}

/* =Pagination
-------------------------------------------------------------- */
/* line 633, ../bbpress/bbpress.scss */
.bbp-pagination-count {
  float: left;
  border: 1px solid transparent;
}

/* line 638, ../bbpress/bbpress.scss */
.bbp-pagination-links {
  float: right;
  list-style: none;
  display: inline;
}

/* line 644, ../bbpress/bbpress.scss */
.bbp-pagination-links a,
.bbp-pagination-links span.current {
  display: block;
  float: left;
  padding: 0px 5px;
  margin-left: 5px;
  border: 1px solid #efefef;
  text-decoration: none;
}

/* line 653, ../bbpress/bbpress.scss */
.bbp-pagination-links a:hover,
.bbp-pagination-links span.current {
  background: #eee;
  opacity: 0.8;
  border: 1px solid #ddd;
}

/* line 659, ../bbpress/bbpress.scss */
.bbp-pagination-links span.dots {
  display: block;
  float: left;
  padding: 1px 4px;
  margin-left: 5px;
}

/* line 666, ../bbpress/bbpress.scss */
.bbp-pagination {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

/* line 672, ../bbpress/bbpress.scss */
.bbp-topic-pagination {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 2px;
}

/* line 677, ../bbpress/bbpress.scss */
.bbp-topic-pagination a {
  font-size: 10px;
  line-height: 10px;
  padding: 1px 3px;
  border: 1px solid #ddd;
  text-decoration: none;
}

/* =Forms
-------------------------------------------------------------- */
/* line 689, ../bbpress/bbpress.scss */
#bbpress-forums fieldset.bbp-form {
  clear: left;
}

/* line 693, ../bbpress/bbpress.scss */
#bbpress-forums fieldset.bbp-form {
  border: 4px solid #2cdafd;
  padding: 10px 20px;
  margin-bottom: 10px;
}

/* line 699, ../bbpress/bbpress.scss */
#bbpress-forums fieldset.bbp-form legend {
  padding: 5px;
}

/* line 703, ../bbpress/bbpress.scss */
#bbpress-forums fieldset.bbp-form label {
  margin: 0;
  display: inline-block;
}

/* line 711, ../bbpress/bbpress.scss */
#bbp-edit-topic-tag.bbp-form fieldset.bbp-form label,
#bbp-login fieldset label,
#bbp-register fieldset label,
#bbp-lost-pass fieldset label {
  width: 100px;
}

/* line 718, ../bbpress/bbpress.scss */
#bbpress-forums fieldset.bbp-form p,
#bbpress-forums fieldset.bbp-form textarea,
#bbpress-forums fieldset.bbp-form select,
#bbpress-forums fieldset.bbp-form input {
  margin: 0 0 8px;
}

/* line 724, ../bbpress/bbpress.scss */
textarea#bbp_reply_content,
textarea#bbp_topic_content,
textarea#bbp_forum_content {
  width: 97%;
  box-sizing: border-box;
}

/* line 729, ../bbpress/bbpress.scss */
textarea#bbp_forum_content {
  height: 210px;
}

/* line 733, ../bbpress/bbpress.scss */
#bbpress-forums fieldset.bbp-forum-form-attributes {
  width: 200px;
  float: right;
  clear: none;
  margin-left: 25px;
}

/**
 * Fix for too-long forum names, usually from conversion
 */
/* line 743, ../bbpress/bbpress.scss */
#bbpress-forums fieldset select#bbp_forum_id {
  max-width: 200px;
}

/* line 749, ../bbpress/bbpress.scss */
.bbp-topic-form,
.bbp-reply-form,
.bbp-topic-tag-form {
  clear: left;
}

/* line 755, ../bbpress/bbpress.scss */
body.topic-edit .bbp-topic-form div.avatar img,
body.reply-edit .bbp-reply-form div.avatar img,
body.single-forum .bbp-topic-form div.avatar img,
body.single-reply .bbp-reply-form div.avatar img {
  margin-right: 0;
  padding: 10px;
  border: 1px solid #ddd;
  line-height: 0;
  background-color: #efefef;
}

/* line 768, ../bbpress/bbpress.scss */
body.page .bbp-reply-form code,
body.page .bbp-topic-form code,
body.single-topic .bbp-reply-form code,
body.single-forum .bbp-topic-form code,
body.topic-edit .bbp-topic-form code,
body.reply-edit .bbp-reply-form code {
  font-size: 10px;
  background-color: #f0fff8;
  border: 1px solid #CEEFE1;
  display: block;
  padding: 8px;
  margin-top: 5px;
  width: 369px;
}

/* line 779, ../bbpress/bbpress.scss */
#merge_tag,
#delete_tag {
  display: inline;
}

/* line 783, ../bbpress/bbpress.scss */
div.bbp-submit-wrapper {
  margin-top: 15px;
  float: right;
  clear: both;
}

/* line 789, ../bbpress/bbpress.scss */
p.form-allowed-tags {
  max-width: 100%;
}

/* =TinyMCE in themes
-------------------------------------------------------------- */
/* line 795, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-the-content-wrapper {
  margin-bottom: 10px;
}

/* line 799, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
  width: 100%;
  margin: 0;
  font-size: 12px;
}

/* line 808, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-the-content-wrapper table,
#bbpress-forums div.bbp-the-content-wrapper tbody,
#bbpress-forums div.bbp-the-content-wrapper tr,
#bbpress-forums div.bbp-the-content-wrapper td {
  border: none;
  padding: 0;
  margin: 0;
  width: auto;
  line-height: 1em;
}

/* line 816, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-the-content-wrapper input {
  font-size: 12px;
  padding: 5px;
  margin: 0 2px 0 0;
  line-height: 1em;
}

/* line 823, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar {
  padding: 5px;
  min-height: 26px;
}

/* line 827, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar {
  padding: 4px 4px 8px;
}

/* line 831, ../bbpress/bbpress.scss */
#bbpress-forums div.wp-editor-container {
  margin: 0;
  padding: 0;
  line-height: 0;
}

/* line 837, ../bbpress/bbpress.scss */
#bbpress-forums div.bbp-the-content-wrapper td.mceStatusbar {
  line-height: 16px;
}

/* =Edit User
-------------------------------------------------------------- */
/* line 844, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset {
  padding: 20px 20px 0 20px;
}

/* line 847, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset div {
  margin-bottom: 20px;
  float: left;
  width: 100%;
  clear: left;
}

/* line 853, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset select {
  margin-bottom: 0;
}

/* line 857, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset input,
#bbpress-forums #bbp-your-profile fieldset textarea {
  margin-bottom: 0;
  width: 60%;
  background: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: none;
  padding: 5px 8px;
  border-radius: 0;
  color: #b8b8b8;
}

/* line 868, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset input:focus,
#bbpress-forums #bbp-your-profile fieldset textarea:focus {
  border: 1px solid #ccc;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  outline-color: rgba(240, 255, 240, 0.1);
}

/* line 873, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset.bbp-form input.checkbox {
  width: auto;
}

/* line 876, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset legend {
  display: none;
}

/* line 879, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset label[for] {
  float: left;
  width: 20%;
  padding: 5px 20px 5px 0;
  text-align: right;
  cursor: pointer;
}

/* line 886, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset dl label[for] {
  text-align: left;
  width: 60%;
}

/* line 890, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset span.description {
  margin: 5px 0 0 20%;
  font-size: 12px;
  font-style: italic;
  float: left;
  clear: left;
  width: 60%;
  padding: 5px 8px;
  border: #cee1ef 1px solid;
  background-color: #f0f8ff;
}

/* line 902, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset fieldset {
  margin: 0;
  border: none;
  padding: 0;
  clear: none;
  float: none;
}

/* line 909, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset fieldset.password {
  width: 60%;
  display: inline;
}

/* line 914, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset fieldset.password input,
#bbpress-forums #bbp-your-profile fieldset fieldset.password span {
  width: 100%;
}

/* line 917, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset fieldset.capabilities dl {
  margin: 0;
}

/* line 920, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset fieldset.password span.description {
  margin-left: 0;
  margin-bottom: 20px;
}

/* line 925, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset.submit button {
  float: right;
}

/* =Notices
-------------------------------------------------------------- */
/* line 933, ../bbpress/bbpress.scss */
div.bbp-template-notice,
div.indicator-hint {
  border-width: 1px;
  border-style: solid;
  padding: 0 0.6em;
  margin: 5px 0 15px;
  border-radius: 3px;
  background-color: transparent;
  border-color: #1a1a1a;
  color: #bababa;
  clear: both;
}

/* line 944, ../bbpress/bbpress.scss */
div.bbp-template-notice a {
  color: #00f987;
  text-decoration: none;
}

/* line 948, ../bbpress/bbpress.scss */
div.bbp-template-notice a:hover {
  color: #2cdafd;
}

/* line 951, ../bbpress/bbpress.scss */
div.bbp-template-notice.info {
  border: #cee1ef 0px solid;
  background-color: transparent;
}

/* line 955, ../bbpress/bbpress.scss */
div.bbp-template-notice.important {
  border: #e6db55 1px solid;
  background-color: #fffbcc;
}

/* line 960, ../bbpress/bbpress.scss */
div.bbp-template-notice.error,
div.bbp-template-notice.warning {
  background-color: #ffebe8;
  border-color: #c00;
}

/* line 965, ../bbpress/bbpress.scss */
div.bbp-template-notice.error a,
div.bbp-template-notice.warning a {
  color: #c00;
}

/* line 968, ../bbpress/bbpress.scss */
div.bbp-template-notice p {
  margin: 0.5em 0 6px 0 !important;
  padding: 2px;
  font-size: 12px;
  font-weight: bold;
  line-height: 140%;
}

/* =Stickies
-------------------------------------------------------------- */
/* line 982, ../bbpress/bbpress.scss */
.bbp-topics-front ul.super-sticky,
.bbp-topics ul.super-sticky,
.bbp-topics ul.sticky,
.bbp-forum-content ul.sticky {
  background-color: #000 !important;
  font-size: 1.1em;
}

/* =Revisions
-------------------------------------------------------------- */
/* line 992, ../bbpress/bbpress.scss */
#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log,
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log,
#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log {
  border-top: 1px dotted #ddd;
  width: 100%;
  margin: 0;
  padding: 8px 0 0 0;
  font-size: 11px;
  color: #aaa;
}

/* line 1003, ../bbpress/bbpress.scss */
#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log li,
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log li,
#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log li {
  list-style-type: none;
}

/* =Widgets
-------------------------------------------------------------- */
/* line 1010, ../bbpress/bbpress.scss */
.bbp-login-form fieldset legend {
  display: none;
}

/* line 1016, ../bbpress/bbpress.scss */
.bbp-login-form .bbp-username input,
.bbp-login-form .bbp-email input,
.bbp-login-form .bbp-password input {
  padding: 5px;
}

/* line 1020, ../bbpress/bbpress.scss */
.bbp-login-form label {
  width: 140px;
  display: inline-block;
}

/* line 1025, ../bbpress/bbpress.scss */
#sidebar .bbp-login-form label {
  width: 70px;
}

/* line 1033, ../bbpress/bbpress.scss */
.bbp-login-form .bbp-username,
.bbp-login-form .bbp-email,
.bbp-login-form .bbp-password,
.bbp-login-form .bbp-remember-me,
.bbp-login-form .bbp-submit-wrapper {
  margin-top: 10px;
}

/* line 1041, ../bbpress/bbpress.scss */
.bbp-login-form .bbp-submit-wrapper {
  text-align: right;
}

/* line 1048, ../bbpress/bbpress.scss */
.bbp-login-form .bbp-login-links a {
  float: left;
  clear: left;
}

/* line 1053, ../bbpress/bbpress.scss */
.bbp-logged-in img.avatar {
  float: left;
  margin: 0 15px 0 0;
}

/* line 1058, ../bbpress/bbpress.scss */
.bbp-logged-in h4 {
  font-family: "outagecut" sans-serif;
  font-weight: bold;
  font-size: 12px;
  clear: none;
  margin-bottom: 10px;
}

/* =Avatars
-------------------------------------------------------------- */
/* line 1074, ../bbpress/bbpress.scss */
#bbpress-forums p.bbp-topic-meta img.avatar,
#bbpress-forums ul.bbp-reply-revision-log img.avatar,
#bbpress-forums ul.bbp-topic-revision-log img.avatar,
#bbpress-forums div.bbp-template-notice img.avatar,
#bbpress-forums .widget_display_topics img.avatar,
#bbpress-forums .widget_display_replies img.avatar {
  float: none;
  margin-bottom: -7px;
  border: 3px double #ddd;
}

/* line 1080, ../bbpress/bbpress.scss */
fieldset div.avatar {
  float: right;
}

/* =BuddyPress Activity Streams
-------------------------------------------------------------- */
/* line 1088, ../bbpress/bbpress.scss */
.activity-list li.bbp_topic_create .activity-content .activity-inner,
.activity-list li.bbp_reply_create .activity-content .activity-inner {
  border-left: 2px solid #eaeaea;
  margin-left: 5px;
  padding-left: 10px;
}

/* =User Pages
-------------------------------------------------------------- */
/* line 1097, ../bbpress/bbpress.scss */
#bbpress-forums h1 {
  clear: none;
  font-size: 1.8em;
  line-height: 1em;
  padding-bottom: 10px;
}

/* line 1104, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-user-wrapper {
  float: left;
  width: 100%;
}

/* line 1109, ../bbpress/bbpress.scss */
#bbpress-forums .bbp-user-section {
  overflow: auto;
}

/* line 1113, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-user-wrapper h2.entry-title {
  font-size: 1.4em;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 0;
  clear: none;
}

/* line 1125, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-user-wrapper ul.bbp-lead-topic,
#bbpress-forums #bbp-user-wrapper ul.bbp-topics,
#bbpress-forums #bbp-user-wrapper ul.bbp-forums,
#bbpress-forums #bbp-user-wrapper ul.bbp-replies,
#bbpress-forums #bbp-user-wrapper fieldset.bbp-form {
  clear: none;
}

/* line 1129, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-single-user-details {
  margin: 0;
  width: 150px;
  float: left;
  overflow: hidden;
}

/* line 1136, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-single-user-details #bbp-user-avatar {
  margin: 0;
  width: 150px;
}

/* line 1141, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar {
  border: none;
  height: 150px;
  padding: 0;
  margin: 0 0 20px 0;
  width: 150px;
}

/* line 1149, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-single-user-details #bbp-user-description {
  float: none;
  margin-left: 180px;
}

/* line 1154, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-single-user-details #bbp-user-navigation {
  float: none;
  margin: 0;
}

/* line 1159, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-single-user-details #bbp-user-navigation li {
  margin: 0;
}

/* line 1163, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-single-user-details #bbp-user-navigation a {
  padding: 5px 8px;
  display: block;
  border: 1px solid transparent;
  text-decoration: none;
}

/* line 1170, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
  background: transparent;
  opacity: 0.8;
}

/* line 1175, ../bbpress/bbpress.scss */
#bbpress-forums #bbp-user-body {
  margin-left: 180px;
}

/* line 1179, ../bbpress/bbpress.scss */
body.my-account #bbpress-forums {
  border-top: none;
  padding-top: 0;
  margin-bottom: 0;
}

/* =User Capabilities
-------------------------------------------------------------- */
/* line 1188, ../bbpress/bbpress.scss */
#bbpress-forums dl.bbp-user-capabilities {
  display: inline-block;
  vertical-align: top;
}

/* line 1193, ../bbpress/bbpress.scss */
#bbpress-forums dl.bbp-user-capabilities dt {
  margin: 0 0 10px;
  text-transform: capitalize;
}

/* line 1198, ../bbpress/bbpress.scss */
#bbpress-forums dl.bbp-user-capabilities dd {
  margin: 0;
  padding: 0;
}

/* =BuddyPress Group Forums
-------------------------------------------------------------- */
/* line 1206, ../bbpress/bbpress.scss */
#bbpress-forums div.row-actions {
  font-size: 11px;
  visibility: hidden;
}

/* line 1211, ../bbpress/bbpress.scss */
#bbpress-forums li:hover > div.row-actions {
  visibility: visible;
}

/*--------------------------------------------------------------
 Media Queries
--------------------------------------------------------------*/
/* =Standard Mobile Landscape
-------------------------------------------------------------- */
@media screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
  -webkit-text-size-adjust: none;
}
@media only screen and (max-width: 480px) {
  /* line 1225, ../bbpress/bbpress.scss */
  #bbpress-forums div.bbp-topic-tags {
    clear: left;
    float: left;
  }

  /* line 1230, ../bbpress/bbpress.scss */
  div.bbp-search-form input,
  div.bbp-search-form button {
    font-size: 11px;
    padding: 2px;
  }

  /* line 1235, ../bbpress/bbpress.scss */
  li.bbp-forum-info,
  li.bbp-topic-title {
    width: 45%;
  }

  /* line 1241, ../bbpress/bbpress.scss */
  li.bbp-forum-topic-count,
  li.bbp-forum-reply-count,
  li.bbp-topic-voice-count,
  li.bbp-topic-reply-count {
    width: 15%;
  }

  /* line 1244, ../bbpress/bbpress.scss */
  span.bbp-reply-post-date {
    float: left;
  }

  /* line 1247, ../bbpress/bbpress.scss */
  span.bbp-admin-links {
    clear: left;
    float: left;
  }

  /* line 1251, ../bbpress/bbpress.scss */
  #bbpress-forums .bbp-forums-list li {
    display: block;
    font-size: 11px;
  }

  /* line 1255, ../bbpress/bbpress.scss */
  #bbpress-forums .bbp-body div.bbp-reply-author {
    margin: -15px 10px 10px;
    min-height: 100px;
    padding-left: 80px;
    position: relative;
    text-align: left;
    width: 100%;
  }

  /* line 1263, ../bbpress/bbpress.scss */
  #bbpress-forums div.bbp-reply-author a.bbp-author-name {
    clear: none;
    display: inline-block;
    margin-left: 0;
    word-wrap: break-word;
  }

  /* line 1269, ../bbpress/bbpress.scss */
  #bbpress-forums div.bbp-reply-author img.avatar {
    position: absolute;
    top: 15px;
    left: 0;
    width: 60px;
    height: auto;
  }

  /* line 1276, ../bbpress/bbpress.scss */
  #bbpress-forums div.bbp-reply-author .bbp-author-role {
    font-size: 12px;
    font-style: normal;
  }

  /* line 1280, ../bbpress/bbpress.scss */
  #bbpress-forums .bbp-body div.bbp-reply-content {
    clear: both;
    margin: 10px;
    padding: 0;
  }

  /* line 1285, ../bbpress/bbpress.scss */
  #bbpress-forums div.bbp-reply-content p {
    margin-bottom: 1em;
  }

  /* line 1288, ../bbpress/bbpress.scss */
  div.bbp-submit-wrapper {
    float: left;
  }

  /* line 1291, ../bbpress/bbpress.scss */
  #bbpress-forums fieldset.bbp-form {
    padding: 0 10px 10px;
  }

  /* line 1294, ../bbpress/bbpress.scss */
  #bbpress-forums #bbp-user-body {
    clear: both;
    margin-left: 0;
    word-wrap: break-word;
  }
}
/* =Standard Mobile Portrait
-------------------------------------------------------------- */
@media only screen and (max-width: 320px) {
  /* line 1304, ../bbpress/bbpress.scss */
  #bbpress-forums div.bbp-search-form {
    margin-bottom: 10px;
  }

  /* line 1310, ../bbpress/bbpress.scss */
  #bbpress-forums li.bbp-header li.bbp-forum-info,
  #bbpress-forums li.bbp-body li.bbp-forum-info,
  #bbpress-forums li.bbp-header li.bbp-topic-title,
  #bbpress-forums li.bbp-body li.bbp-topic-title {
    width: 100%;
  }

  /* line 1314, ../bbpress/bbpress.scss */
  #bbpress-forums li.bbp-header li.bbp-forum-info,
  #bbpress-forums li.bbp-header li.bbp-topic-title {
    text-align: center;
    text-transform: uppercase;
  }

  /* line 1325, ../bbpress/bbpress.scss */
  #bbpress-forums li.bbp-header li.bbp-forum-topic-count,
  #bbpress-forums li.bbp-header li.bbp-forum-reply-count,
  #bbpress-forums li.bbp-body li.bbp-forum-topic-count,
  #bbpress-forums li.bbp-body li.bbp-forum-reply-count,
  #bbpress-forums li.bbp-header li.bbp-topic-voice-count,
  #bbpress-forums li.bbp-header li.bbp-topic-reply-count,
  #bbpress-forums li.bbp-body li.bbp-topic-voice-count,
  #bbpress-forums li.bbp-body li.bbp-topic-reply-count {
    width: 20%;
  }

  /* line 1331, ../bbpress/bbpress.scss */
  #bbpress-forums li.bbp-header li.bbp-forum-freshness,
  #bbpress-forums li.bbp-body li.bbp-forum-freshness,
  #bbpress-forums li.bbp-header li.bbp-topic-freshness,
  #bbpress-forums li.bbp-body li.bbp-topic-freshness {
    width: 58%;
  }

  /* line 1339, ../bbpress/bbpress.scss */
  #bbpress-forums li.bbp-body li.bbp-forum-topic-count,
  #bbpress-forums li.bbp-body li.bbp-forum-reply-count,
  #bbpress-forums li.bbp-body li.bbp-forum-freshness,
  #bbpress-forums li.bbp-body li.bbp-topic-voice-count,
  #bbpress-forums li.bbp-body li.bbp-topic-reply-count,
  #bbpress-forums li.bbp-body li.bbp-topic-freshness {
    margin-top: 7px;
  }

  /* line 1343, ../bbpress/bbpress.scss */
  #bbpress-forums li.bbp-header,
  #bbpress-forums li.bbp-footer {
    font-size: 10px;
  }

  /* line 1346, ../bbpress/bbpress.scss */
  #bbpress-forums li.bbp-header div.bbp-reply-author {
    text-align: left;
    width: 25%;
  }

  /* line 1350, ../bbpress/bbpress.scss */
  #bbpress-forums li.bbp-header div.bbp-reply-content {
    margin-left: 25%;
  }

  /* line 1354, ../bbpress/bbpress.scss */
  #bbpress-forums div.bbp-template-notice img.avatar,
  #bbpress-forums p.bbp-topic-meta img.avatar {
    width: 14px;
    height: auto;
  }

  /* line 1358, ../bbpress/bbpress.scss */
  #bbpress-forums div.bbp-the-content-wrapper td.mceToolbar {
    padding: 1px;
  }

  /* line 1361, ../bbpress/bbpress.scss */
  #bbpress-forums div.bbp-the-content-wrapper td.mceToolbar td {
    width: 20px;
    height: 20px;
  }

  /* line 1365, ../bbpress/bbpress.scss */
  #bbpress-forums div.wp-editor-container {
    width: 100%;
    overflow: auto;
  }

  /* line 1370, ../bbpress/bbpress.scss */
  #bbpress-forums input#bbp_topic_title,
  #bbpress-forums input#bbp_topic_tags {
    width: 95%;
  }
}
/* =Extra Small Mobile
-------------------------------------------------------------- */
@media only screen and (max-width: 240px) {
  /* line 1387, ../bbpress/bbpress.scss */
  #bbpress-forums li.bbp-header li.bbp-forum-topic-count,
  #bbpress-forums li.bbp-header li.bbp-forum-reply-count,
  #bbpress-forums li.bbp-body li.bbp-forum-topic-count,
  #bbpress-forums li.bbp-body li.bbp-forum-reply-count,
  #bbpress-forums li.bbp-header li.bbp-topic-voice-count,
  #bbpress-forums li.bbp-header li.bbp-topic-reply-count,
  #bbpress-forums li.bbp-body li.bbp-topic-voice-count,
  #bbpress-forums li.bbp-body li.bbp-topic-reply-count,
  #bbpress-forums li.bbp-footer div.bbp-reply-author,
  #bbpress-forums li.bbp-footer div.bbp-reply-content {
    width: 45%;
  }

  /* line 1395, ../bbpress/bbpress.scss */
  #bbpress-forums li.bbp-header li.bbp-forum-freshness,
  #bbpress-forums li.bbp-body li.bbp-forum-freshness,
  #bbpress-forums li.bbp-header li.bbp-topic-freshness,
  #bbpress-forums li.bbp-body li.bbp-topic-freshness,
  #bbpress-forums li.bbp-header div.bbp-reply-author,
  #bbpress-forums li.bbp-header div.bbp-reply-content {
    clear: both;
    width: 100%;
  }

  /* line 1400, ../bbpress/bbpress.scss */
  #bbpress-forums li.bbp-header li.bbp-forum-freshness,
  #bbpress-forums li.bbp-header li.bbp-topic-freshness {
    text-align: center;
  }

  /* line 1404, ../bbpress/bbpress.scss */
  #bbpress-forums li.bbp-body li.bbp-topic-freshness,
  #bbpress-forums li.bbp-header div.bbp-reply-content {
    margin-left: 0;
    text-align: left;
  }

  /* line 1408, ../bbpress/bbpress.scss */
  #bbpress-forums li.bbp-body li.bbp-topic-freshness p.bbp-topic-meta {
    display: inline-block;
  }

  /* line 1411, ../bbpress/bbpress.scss */
  #bbpress-forums li.bbp-header {
    overflow: hidden;
  }

  /* line 1414, ../bbpress/bbpress.scss */
  #bbpress-forums li.bbp-footer div.bbp-reply-content {
    display: inline-block;
    margin-left: 0;
  }

  /* line 1418, ../bbpress/bbpress.scss */
  #bbpress-forums li.bbp-body div.bbp-reply-author {
    min-height: 60px;
    padding-left: 60px;
  }

  /* line 1422, ../bbpress/bbpress.scss */
  #bbpress-forums div.bbp-reply-author img.avatar {
    width: 40px;
    height: auto;
  }
}
